@tailwind base;
@tailwind components;

.primary-btn {
  @apply px-6 py-2 text-gray-100 text-xl font-bold rounded inline-block;
  transition: all 0.3s;
}

.primary-btn-success {
  @apply px-16 py-2 text-white bg-green-600 text-2xl font-bold rounded inline-block;
  transition: all 0.3s;
}

.primary-btn-error {
  @apply px-6 py-2 text-white bg-red-600 text-xl font-bold rounded inline-block;
  transition: all 0.3s;
}

.primary-btn:enabled {
  @apply bg-blue-500;
}

.primary-btn:hover:enabled {
  @apply bg-blue-700;
}

.primary-btn:focus:enabled {
  @apply outline-none shadow-outline;
}

.primary-btn:active:enabled {
  @apply bg-blue-800;
}

.primary-btn:disabled {
  @apply bg-blue-400;
}

.secondary-btn {
  @apply px-6 py-2 text-gray-800 text-xl font-bold rounded inline-block;
  transition: all 0.3s;
}

.secondary-btn:enabled {
  @apply bg-teal-400;
}

.secondary-btn:hover:enabled {
  @apply bg-teal-300;
}

.secondary-btn:focus:enabled {
  @apply outline-none shadow-outline;
}

@tailwind utilities;
