[Desktop Entry]
Name=$APP_NAME
Version=1.0
GenericName=SSH keys generator
X-GNOME-FullName=$APP_NAME
Comment=Setup SSH keys for github, bitbucket and gitlab without sweat.
Encoding=UTF-8
Type=Application
Terminal=false
Path=$APP_PATH
Exec=$EXEC_PATH %k
TryExec=$EXEC_PATH
StartupNotify=false
Categories=Development;
MimeType=x-scheme-handler/ssh-git;